.banner
{
    background-image: url(Capsule-Wardrobe.jpg);
    height: 400px;
    padding: 150px 0px;
    background-size: cover;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */
h2 {
    /* text-align: center; */
    color: #333;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    height: 150px;
}
.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #00ff1a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #00fd19;
}
